.mainContainer {
    width: 1480px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.productList {
    width: 1000px;
    padding: 1rem;
}

.productCard {
    width: 280px;
}

.selection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    margin-top: 1rem;
    margin-left: 0.5rem;
    background: white;
    width: 280px;
}

.title {
    text-align: center;
}

.popularCard {
    width: 200px;
}