.mainContainer {
    width: 1480px;
    display: flex;
}

.productList {
    padding: 1rem;
}

.selection {
    margin-top: 1rem;
    margin-left: 0.5rem;
    background: white;
    width: 300px;
}

.productCard {
    border-radius: 5px;
    width: 280px;
}